[package]
name = "heimlern-core"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Heimlern core traits & types"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
assert_cmd = "2"
predicates = "3"
