name: wgx-guard
permissions:
  contents: read
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  guard:
    uses: heimgewebe/wgx/.github/workflows/wgx-guard.yml@5d810ddd6df54e085762440066b8723d251e05de # main
